<template>
  <section class="main-wrapper lg:container lg:mx-auto lg:grid-cols-2 sm:px-10">
    <div>
      <SortablePostList />
    </div>
    <div>
      <TimeTravelList />
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '../store'
import SortablePostList from './SortablePostList.vue';
import TimeTravelList from './TimeTravelList.vue';

export default defineComponent({
  name: 'Home',

  components: {
    SortablePostList,
    TimeTravelList
  },

  async setup() {
    const store = useStore()

    function delay() {
      return new Promise(res => {
        setTimeout(res, 1000)
      })
    }

    // fetch posts
    if (!store.getState().posts.isLoaded) {
      // await delay() // just to see loading animation
      await store.fetchPosts()
    }
  }
});
</script>

<style lang="stylus">

.main-wrapper
  display grid
  gap 5rem
  position relative
  padding 2.5rem 2rem

  &:before
    content ""
    position absolute
    top 0
    left 0
    right 0
    height 12.1rem
    z-index -1
    background-image url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 4081.9 170.1'%3E%3Cpath fill='%23691EDD' d='M4081.9 170.1V0L0 170.1z'/%3E%3C/svg%3E")
    transform: rotate(-180deg)

</style>
