<template>
  <li class="post shadow-md">
    <p class="post__content">
      <strong class="post__title">{{ post.title }}</strong>
      <span class="post__body">{{ post.body }}</span>
    </p>
    <div class="post__actions">
      <button
        class="post__btn post__btn--top"
        title="Move Up"
        @click="moveUp(post.id)"
        v-if="index > 0">
          Move Up
      </button>
      <button
        class="post__btn post__btn--bottom"
        title="Move Down"
        @click="moveDown(post.id)"
        v-if="index !== state.posts.orderedListById.length - 1">
          Move Down
      </button>
    </div>
  </li>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { useStore } from '../store'
import { Post } from '../models'

export default defineComponent({
  name: 'Post',

  props: {
    post: {
      type: Object as PropType<Post>,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },

  setup() {
    const store = useStore()
    const state = store.getState()

    // position handlers
    const moveUp = (postId: number) => {
      const currentIndex = state.posts.ids.indexOf(postId)

      store.changePosition(postId, currentIndex, currentIndex - 1)
    }

    const moveDown = (postId: number) => {
      const currentIndex = state.posts.ids.indexOf(postId)

      store.changePosition(postId, currentIndex, currentIndex + 1)
    }

    return {
      state,
      moveUp,
      moveDown
    }
  },
})
</script>

<style lang="stylus">
.post
  display flex
  align-items center
  justify-content space-between
  padding 0 1rem
  border-radius 0.375rem
  background-color rgb(243 244 246)
  &:not(:last-child)
    margin-bottom 1.5rem

  &__content
    padding 1.5rem 1rem 1.5rem 0

  &__title
    display block
    margin-bottom 0.5rem

  &__actions
    display flex
    flex-direction column
    justify-content space-around
    height 4rem

  &__btn
    position relative
    display inline-block
    width 14px
    height 14px
    text-indent -9999px
    overflow hidden

    &--top:before
      top 5px
      transform rotate(-45deg)

    &--bottom:before
      top 2px
      transform rotate(135deg)

    &:before
      position absolute
      left 3px
      content ""
      width 8px
      height 8px
      border-top 2px solid rgba(67, 56, 202, 1)
      border-right 2px solid rgba(67, 56, 202, 1)
      transition all .25s ease

    &:hover:before
      border-top-color rgba(67, 56, 202, 0.5)
      border-right-color rgba(67, 56, 202, 0.5)
</style>