<template>
  <div>
    <h1 class="post-list__title">Sortable Post List</h1>

    <transition-group tag="ul" name="flip-list">
      <Post
        v-for="(post, index) in state.posts.orderedListById"
        :key="post"
        :index="index"
        :post="post"
      />
    </transition-group>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStore } from '../store'
import Post from './Post.vue'

export default defineComponent({
  name: 'SortablePostList',

  components: {
    Post
  },

  setup() {
    const store = useStore()
    const state = store.getState()

    return {
      state
    }
  }
});
</script>

<style lang="stylus">

.post-list__title
    margin-bottom 1.5rem
    color #fff
    font-size 1.5rem
    font-weight 700
    line-height 1.75rem
    opacity 0.7

.flip-list-move
  transition transform .5s

</style>
