<template>
  <div class="spinner flex items-center justify-center">
    <div class="w-20 h-20 border-b-2 border-purple-600 rounded-full animate-spin"></div>
  </div>
</template>

<style lang="stylus">

.spinner
  position fixed
  top 50%
  left 50%
  margin-left -2.5rem
  margin-top -2.5rem

</style>