<template>
  <li class="travel__item">
    <span class="travel__detail">
      Moved post {{ action.postId }}
      from index {{ action.oldPosition }}
      to index {{ action.newPosition }}
    </span>
    <button class="travel__btn" type="button" @click="travel(action)">
      Time travel
    </button>
  </li>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { useStore } from '../store'
import { Action } from '../models'

export default defineComponent({
  name: 'TimeTravel',

  props: {
    action: {
      type: Object as PropType<Action>,
      required: true
    }
  },

  setup() {
    const store = useStore()
    const state = store.getState()
    const travel = (action: Action) => {
      store.handleTimeTravel(action)
    }

    return {
      state,
      travel
    }
  },
})
</script>