<template>
  <div class="travel shadow-md">
    <h2 class="travel-list__title">List of actions committed</h2>

    <transition-group tag="ul" name="travel-list" class="travel__list">
      <li v-if="!state.actions.ids.length" class="travel__item">
        <span class="travel__detail">No action has been committed yet</span>
      </li>
      <TimeTravel v-else v-for="id in state.actions.ids" :action="getAction(id)" :key="id" />
    </transition-group>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '../store'
import TimeTravel from './TimeTravel.vue'

export default defineComponent({
  name: 'TimeTravelList',

  components: {
    TimeTravel
  },

  setup() {
    const store = useStore()
    const state = store.getState()
    const getAction = (id: number) => state.actions.all.get(id)

    return {
      state,
      getAction
    }
  }
})
</script>

<style lang="stylus">

.travel-list__title
  color rgb(107 114 128)
  margin 0 -1.25rem 1.25rem
  padding 1.25rem
  font-weight 700
  font-size 1.25rem
  line-height 1.75rem
  background-color #fff
  border-top-left-radius 0.375rem
  border-top-right-radius 0.375rem

.travel
  padding 0 1.25rem 1rem
  border-radius 0.375rem

  &__list
    border-radius 0.375rem
    overflow hidden

  &__item
    display flex
    align-items center
    justify-content space-between
    padding 1.25rem
    background-color rgb(243 244 246)
    &:not(:last-child)
      margin-bottom 0.125rem

  &__detail
    display block
    padding-right 10px

  &__btn
    min-width 130px
    padding 12px 20px
    color #0f0017
    font-size 1rem
    font-weight 600
    text-align center
    background-color #00ff86
    border-radius 0.375rem
    transition all .25s ease
    &:hover
      background-color #04d576

.travel-list-enter-active
.travel-list-leave-active
  transition all .5s

.travel-list-enter
.travel-list-leave-to
  opacity 0
  transform translateX(-30px)

</style>