<template>

  <suspense>
    <template #default>
      <Home />
    </template>

    <template #fallback>
      <Spinner />
    </template>
  </suspense>

</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Home from './components/Home.vue'
import Spinner from './components/Spinner.vue'

export default defineComponent({
  name: 'App',
  components: {
    Home,
    Spinner
  }
})
</script>

<style lang="stylus">

body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

</style>
